/*
|--------------------------------------------------------------------------
| HEADER STYLES
|--------------------------------------------------------------------------
*/

.header {
	background-color: $color1;
	padding: $pd-small 0;

	> .limit {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__toggle {

		position: relative;

		.-close { display: none; }
		
		&:after {
			content: '';
			transform: translateY(-50%);
			position: absolute;
			top: 50%;
			right: -20px;
			width: 0; 
			height: 0; 
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid $color-white;
		}
	}

	&__search {
		svg {
			fill: $color-white;
			height: 20px;
			width: 20px;
		}
	}

	span { color: $color-white; }
}










/* TO SMALL MOBILE <=320px */
@media #{$to-smb} {

}

/* TO MOBILE <=767px */
@media #{$to-mb} {

}

/* FROM MOBILE L >=540px */
@media #{$from-lmb} {

}

/* FROM TABLET P >=768px */
@media #{$from-ptb} {
	
}

/* FROM TABLET L >=1024px */
@media #{$from-ltb} {
	
}

/* TO DESK >=1200px */
@media #{$to-desk} {
	
}
