{#
 * Base (wrapper) theme template
 * @package Onyx Theme
#}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		{% include 'head.twig' %}
		{% block head %}{% endblock %}
	</head>

		<body class="{{ body_class }}">

			{% include 'partials/header.twig' %}

			{% block content %}{% endblock %}

			{% block footer %}{% endblock %}
			{% include 'partials/footer.twig' %}


		</body>
</html>
