/*
|--------------------------------------------------------------------------
| MENU
|--------------------------------------------------------------------------
*/

.header {
	&__menu {
		position: absolute;
		left: 0;
		top: 72px;
		width: 100%;
		height: calc(100vh - 85px);
		background-color: $color1;
		display: none;
		font-size: 18px;
	}

	&__item {
		> a {
			padding: $pd-small 12px;
			display: block;
			color: $color-white;
			border-bottom: 1px solid $color2;
		}
	}

	.menu-item-has-children {
		> a {
			position: relative;
			&:after {
				content: '';
				transform: translateY(-50%);
				position: absolute;
				top: 50%;
				right: 12px;
				width: 0; 
				height: 0; 
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 7px solid $color-white;
				transition: transform ease .3s;
			}
		}

		&.active {
			> a {
				color: $color-active;
				&:after {
					transform: translateY(-50%) rotate(180deg);
					border-top-color: $color-active;
				}
			}

			.header__submenu { display: block; }
		}
	}
}
