/*
|--------------------------------------------------------------------------
| SUB-MENU
|--------------------------------------------------------------------------
*/

.header {
	&__submenu {
		position: relative;
		display: none;
		
		&--item {
			> a {
				padding: $pd-small 24px;
				display: block;
				color: $color-white;
				border-bottom: 1px solid $color1;
				background-color: $color2;

				&::before {
					content: '';
					display: inline-block;
					width: 6px;
					height: 22px;
					border-radius: 6px;
					vertical-align: middle;
					margin-top: -3px;
					margin-right: 6px;
					background-color: $color-white;
				}
			}
		}
	}
}
