/*
|--------------------------------------------------------------------------
| FONT NAME
|--------------------------------------------------------------------------
*/

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Medium.woff2") format("woff2"),
		  url("../fonts/Inter-Medium.woff")  format("woff");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Bold.woff2") format("woff2"),
		  url("../fonts/Inter-Bold.woff")  format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}


/* 100 THIN */
/* 200 EXTRA LIGHT */
/* 300 LIGHT */
/* 400 NORMAL */
/* 500 MEDIUM */
/* 600 SEMI BOLD */
/* 700 BOLD */
/* 800 EXTRA BOLD */
/* 900 ULTRA BOLD */
